#!/usr/bin/make -f
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
export DEB_HOST_MULTIARCH
#DEB_BUILD_MAINT_OPTIONS += hardening=+all
#export DEB_BUILD_MAINT_OPTIONS
#export DH_VERBOSE=1

%:
	dh $@ --with python3

override_dh_auto_configure:
#	dh_auto_configure -- -DENABLE_DOXYGEN_PDF=ON
#	ln -s sse2neon/sse2neon.h include/volk/sse2neon/sse2neon.h
	dh_auto_configure

override_dh_auto_build-indep:
	cmake --build obj-* --target all
	cmake --build obj-* --target volk_doc
#	cmake --build obj-* --target volk_pdf_doc

override_dh_auto_install:
	dh_auto_install
	find debian -type d -empty -delete

override_dh_auto_clean:
	dh_auto_clean
	rm -rf gen/__pycache__
#	rm -f include/volk/sse2neon/sse2neon.h
